li {
    margin-bottom: 10px;
  }

  li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
  }
  body{
      width: fit-content;
      height: fit-content;
      border: dotted rgb(201, 176, 176);
      background-color: cadetblue;
  }